@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&family=Lobster&family=Poppins:wght@300;400&display=swap');

h1, h2{
  font-family: 'EB Garamond', serif;
}

.clogo{
  font-family: 'Lobster', cursive;
}
p{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Header Style */
.active{
  background-color: #ffc107;
  color: #100f0f!important;
  border-radius: 5px;
}
.headerBG{
  max-width: 100%;
  background: url("./components/images/course.png") no-repeat fixed center;
  background-size: cover;
  height:60vh;
}
.fontColor{
  color: #bdbaba;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Login and registration form responsivename */
.logInSection{
  background: url("./components/images/bg1.png") no-repeat fixed center;
  min-height: 77vh;
  background-size: cover;
}
.regis-section{
  max-width: 100%;
background: url("./components/images/gbgg.png") no-repeat fixed center;
background-size: cover;
}

.profileImg{
  width: 30px;
    height: 30px;
    border-radius: 17px
}
/* Course Layout */
.course-header {
  font-size: calc(1.425rem + 2.1vw);
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .course-header {
    font-size: 3rem;
  }
}
.lead {
  font-size: 1.25rem;
  font-weight: 300;
}
section{
  display: grid;
  grid-gap: 1rem;
}

/* Blog Style */
.topicHeader{
  font-family: serif;
  margin-bottom: 1rem;
}
.cardDesc{
  text-align: justify;
  margin-bottom: 5px;
  color: #747473;
}
.cardFooter{
  color: #0e1611;
  font-weight: 600;
}
.cardFooter:hover{
  color:#ffc107 ;
}

/*Footer Design*/
.footer{
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  justify-items: center;
  padding: 2rem 0;
}
.footer-text{
  color: #afafaf;
}
.fa-style{
  color: #ffc107;;
  margin: 0 .2rem;
  font-size: 20px;
}

/* responsive section */
@media screen and (min-width: 600px){
  section{
    grid-template-columns: auto auto;
    margin: 0 auto;
 }
  .footer{
      grid-template-columns: auto auto;  
   }
}
@media screen and (min-width: 913px){
  section{
     grid-template-columns: auto auto auto;
     margin: 0 auto;
  }
}

/* Category Styles */
.counter{
  color: #319B38;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  width: 210px;
  height: 222px;
  padding: 48px 28px 0;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.counter:before,
.counter:after{
  content: '';
  background: linear-gradient(135deg,#fff,#f1f1f1);
  height: 147px;
  width: 147px;
  box-shadow: -5px -5px 3px rgba(0, 0, 0, 0.2), -10px -10px #008533;
  transform: translateX(-50%) rotate(45deg);
  position: absolute;
  left: 50%;
  top: 44px;
  z-index: -1;
  transition: all 0.3s ease 0s;
}
.counter:before{
  background: linear-gradient(135deg, #00652F 50%, transparent 50%);
  box-shadow: none;
  top: 80px;
}
.counter .counter-icon{
  font-size: 35px;
  line-height: 40px;
  margin: 0 0 12px;
  color: #ffd500;
}
.counter h3{
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0 0 16px;
  color:#100f0f;
}
.counter .counter-value{
  color: #fff;
  background: linear-gradient(to right, #0C8412, #319B38);
  font-size: 27px;
  font-weight: 500;
  line-height: 33px;
  width: 100%;
  padding: 10px 0 26px;
  position: absolute;
  left: 0;
  bottom: 0;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}
.counter.blue{ color: #1B9FD1; }
.counter.blue:after{
  box-shadow: -5px -5px 3px rgba(0, 0, 0, 0.2), -10px -10px #288EBB;
}
.counter.blue:before{
  background: linear-gradient(135deg, #1167C3 50%, transparent 50%);
}
.counter.blue .counter-value{
  background: linear-gradient(to right, #0784C3, #32AAEE);
}

/* About Section Timeline */
.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}
.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: "";
  background-color: #e9ecef;
}
.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}
.timeline > li:after, .timeline > li:before {
  display: table;
  content: " ";
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #ffc800;
}
.timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4, .timeline .timeline-heading .h4 {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-heading h4.subheading, .timeline .timeline-heading .subheading.h4 {
  text-transform: none;
}
.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}
@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}

/* Instructor Styles */
.team-member {
  margin-bottom: 3rem;
  text-align: center;
}
.team-member img {
  width: 14rem;
  height: 14rem;
  border: 0.5rem solid rgba(0, 0, 0, 0.1);
}
.team-member h4, .team-member .h4 {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.img-brand {
  height: 2.75rem;
}

/* Contact section */
.section#contact {
  background-color: #212529;
  background-image: url("../public/assets/img/map-image.png");
  background-repeat: no-repeat;
  background-position: center;
}
.section#contact .section-heading {
  color: #fff;
}
.section#contact form#contactForm .form-group {
  margin-bottom: 1.5rem;
}
.section#contact form#contactForm .form-group input,
.section#contact form#contactForm .form-group textarea {
  padding: 1.25rem;
}
.section#contact form#contactForm .form-group input.form-control {
  height: auto;
}
.section#contact form#contactForm .form-group-textarea {
  height: 100%;
}
.section#contact form#contactForm .form-group-textarea textarea {
  height: 100%;
  min-height: 10rem;
}
.section#contact form#contactForm p.help-block {
  margin: 0;
}
.section#contact form#contactForm .form-control:focus {
  border-color: #ffc800;
  box-shadow: none;
}
.section#contact form#contactForm ::-webkit-input-placeholder {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #ced4da;
}
.section#contact form#contactForm :-moz-placeholder {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #ced4da;
}
.section#contact form#contactForm ::-moz-placeholder {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #ced4da;
}
.section#contact form#contactForm :-ms-input-placeholder {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #ced4da;
}

/* Subscribe Section */
.call-to-action {
  position: relative;
  background-color: #343a40;
  background: url("../public/assets/img/bg-masthead.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.call-to-action:before {
  content: "";
  position: absolute;
  background-color: #1c375e;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}

/* Blog Home page Style */
.bg-featured-blog {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 15rem;
}

/* Dashboard Style */
#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: -15rem;
  }
}

/* Code Section for home Page */
.content-section {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.content-section-heading h2, .content-section-heading .h2 {
  font-size: 3rem;
}
.content-section-heading h3, .content-section-heading .h3 {
  font-size: 1rem;
  text-transform: uppercase;
}

.service-icon {
  background-color: #fff;
  color: #1D809F;
  height: 7rem;
  width: 7rem;
  display: block;
  line-height: 7.5rem;
  font-size: 2.25rem;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}