@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&family=Lobster&family=Poppins:wght@300;400&display=swap');

h1, h2{
  font-family: 'EB Garamond', serif;
}

.clogo{
  font-family: 'Lobster', cursive;
}
p{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Header Style */
.active{
  background-color: #ffc107;
  color: #100f0f!important;
  border-radius: 5px;
}
.headerBG{
  max-width: 100%;
  background: url("./components/images/course.png") no-repeat fixed center;
  background-size: cover;
  height:60vh;
}
.fontColor{
  color: #bdbaba;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Login and registration form responsivename */
.section{
  background: url("./components/images/bg1.png") no-repeat fixed center;
}
.regis-section{
  max-width: 100%;
background: url("./components/images/gbgg.png") no-repeat fixed center;
background-size: cover;
}

/* Course Layout */
section{
  display: grid;
  grid-gap: 1rem;
}


/*Footer Design*/
.footer{
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  justify-items: center;
  padding: 2rem 0;
}
.footer-text{
  color: #afafaf;
}
.fa-style{
  color: #ffc107;;
  margin: 0 .2rem;
  font-size: 20px;
}

/* responsive section */
@media screen and (min-width: 600px){
  section{
    grid-template-columns: auto auto;
    margin: 0 auto;
 }
  .footer{
      grid-template-columns: auto auto;  
   }
}
@media screen and (min-width: 913px){
  section{
     grid-template-columns: auto auto auto;
     margin: 0 auto;
  }
}
